/*
 * Highlight
 *
 * Highlight a block of text
 */

// Helpers
//
// Styles that can be used in the WordPress editor
//
// Style guide: 6.helpers

// Highlight
//
// Block of content with background color
//
// Markup:
// <div class="highlight">
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium maiores nobis voluptatibus commodi, aspernatur animi optio dicta ullam hic, nisi, assumenda facere tenetur explicabo architecto repellendus, minima. Aut, eligendi.</p>
// </div>
//
// Style guide: 6.helpers.highlight

.highlight {

  padding: $unit-m;
  margin-bottom: $unit-default;
  border: rem(1) solid transparent;

  background-color: $color-grey-10;
  border-radius: $border-radius-small;

  p:last-child {

    margin-bottom: 0;

  }

}

// Note
//
// Block of content with background color
//
// Markup:
// <div class="note">
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium maiores nobis voluptatibus commodi, aspernatur animi optio dicta ullam hic, nisi, assumenda facere tenetur explicabo architecto repellendus, minima. Aut, eligendi.</p>
// </div>
//
// Style guide: 6.helpers.note

.note {

  padding: $unit-m;
  margin-bottom: $unit-default;
  border: rem(1) solid transparent;

  background-color: $color-brand-tertiary;
  border-radius: $border-radius-small;

  p:last-child {

    margin-bottom: 0;

  }

}

// Outline
//
// Block of content with border
//
// Markup:
// <div class="outline">
//   <h3>Hello world</h3>
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium maiores nobis voluptatibus commodi, aspernatur animi optio dicta ullam hic, nisi, assumenda facere tenetur explicabo architecto repellendus, minima. Aut, eligendi.</p>
// </div>
//
// Style guide: 6.helpers.outline

.outline {

  padding: $unit-m;
  margin-bottom: $unit-default;
  border: rem(1) solid $color-border-weak;

  border-radius: $border-radius-small;

  p:last-child {

    margin-bottom: 0;

  }

}

// Grid
//
// Converts children to a grid layout. Use modifiers `grid-two`, `grid-three` or `grid-four` to create a column layout.
//
// Markup:
// <div class="grid grid-wide grid-three">
//   <div class="outline">
//     <h3>Hello world</h3>
//     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudan atibus commodi.</p>
//   </div>
//   <div class="note">
//     <h3>Hello world</h3>
//     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium maiores nobis voluptatibus commodi.</p>
//   </div>
//   <div class="highlight">
//     <h3>Hello world</h3>
//     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium maiores nobis voluptatibus commodi.</p>
//   </div>
//   <div class="outline">
//     <h3>Hello world</h3>
//     <p>Lorem consectetur adipisicing elit. Minus laudan atibus commodi.</p>
//   </div>
//   <div class="note">
//     <h3>Hello world</h3>
//     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium maiores nobis voluptatibus us laudantium maiores nobis voluptatibus commodi.</p>
//   </div>
//   <div class="highlight">
//     <h3>Hello world</h3>
//     <p>Lorem ipsum dodip isicing elit. Minus laudantium maiores nobis voluptatibus commodi.</p>
//   </div>
// </div>
//
// Style guide: 6.helpers.grid

.grid {

  // display: grid;
  // grid-column-gap: $unit-m;
  // grid-row-gap: $unit-m;

  @include breakpoint(medium) {

    position: relative;
    display: flex;
    flex-flow: row wrap;

  }

  h2 {

    font-size: ms(2);

  }

  h3 {

    font-size: ms(1);

  }

  h4 {

    font-size: ms(0);

  }

  @include breakpoint(extra-large) {

    &.grid-wide {

      width: 140%;
      margin-left: -20%;
      margin-right: -20%;
      max-width: 100vw;

    }

  }

}

.grid-two {

  @include breakpoint(medium) {

    // grid-template-columns: 1fr 1fr;

    > * {

      width: 49%;
      margin-left: 2%;

      &:nth-child(2n+1) {

        margin-left: 0;

      }

    }

  }

}

.grid-three {

  @include breakpoint(medium) {

    // grid-template-columns: 1fr 1fr;

  }

  @include breakpoint(large) {

    // grid-template-columns: 1fr 1fr 1fr;

    > * {

      width: 32%;
      margin-left: 2%;

      &:nth-child(3n+1) {

        margin-left: 0;

      }

    }

  }

}

.grid-four {

  @include breakpoint(medium) {

    // grid-template-columns: 1fr 1fr;

    > * {

      width: 49%;
      margin-left: 2%;

      &:nth-child(2n+1) {

        margin-left: 0;

      }

    }

  }

  @include breakpoint(large) {

    // grid-template-columns: 1fr 1fr 1fr 1fr;

    > * {

      width: 23.5%;
      margin-left: 2%;

      &:nth-child(2n+1) {

        margin-left: 2%;

      }

      &:nth-child(4n+1) {

        margin-left: 0;

      }

    }

  }

}

// Heading
//
// Link inside a heading that anchors the user to top of the page
//
// Markup:
// <h2 class="heading-top" id="main">Heading <a href="#main">Return to top</a></h2>
//
// Style guide: 6.headings.return-top

.heading-top {

  position: relative;

  display: flex;
  align-items: center;

  // padding-right: rem(64);

  a {

    display: block;
    margin-left: auto;

    @include font-size(16);
    line-height: em(24,16);
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: $font-body;

    white-space: nowrap;

    // &:before {

    //   display: inline-block;
    //   width: $unit-m;
    //   content: "";

    // }

    &:after {

      position: relative;
      top: 0 - rem(1);

      display: inline-block;
      margin-left: $unit-xs;

      content: "\2191";

    }

  }

}