/* =Speakers
===================================================== */

// Speakers
//
// Speakers list
//
// Markup: speakers.html
//
// Style guide: 6.speakers

.wcorg-speakers {

  display: flex;
  flex-wrap:wrap;
  flex-direction:row;

}


.wcorg-speaker {

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
    
}

.wcorg-speaker {

  padding: 0;
  border: 1px solid $color-border-weak;
  float: left;
  border-radius: 3px;
  margin-bottom: 32px;
  flex: 0 49%;
  margin-right: 2%;
    
    &:nth-child(2n) {
      margin-right: 0px;
    }
    
    @include breakpoint(small) {

      flex: 0 31%;
      margin-right: 3.5%;
      &:nth-child(2n) {
        margin-right: 3.5%;
      }
      &:nth-child(3n) {
           margin-right: 0px; 
        }
      

    }

  .wcorg-speaker-description {

   @include clearfix();

  }

  h2 {

    margin: 0;
    padding: 16px;
    font-size: ms(0);
    line-height: ms(1);
    margin-top:10px;

    a {

      display: inline-block;
      word-break: break-all;
      hyphens: auto;

      &:hover,
      &:focus,
      &:active {

      }

    }

    &:before {

      content: "";
      background:url('https://2018.europe.wordcamp.org/files/2018/03/wceu-stripes-horizontal.png') no-repeat right top;
      width: 33%;
      height: 24px;
      display:block;
      margin-left: -16px;
      margin-top: -42px;
      margin-bottom: 15px;
      position: relative;
      z-index: 999;

    }

  }

  .wcorg-speaker-description p {

    @include visually-hidden();

  }

  .avatar {

    float: left;
    width: 100%;
    height: auto;
    margin: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

  }


  p {

    margin-bottom: $unit-xs;
    font-size: ms(0, 16px);

    &:last-child {

      margin-bottom: 0;

    }

  }

  h3 {

    text-transform: none;

  }

  ul {}
  li {}

}

/*
 * Speaker page
 */

.single-wcb_speaker {

  .entry-content {

    font-size: ms(0, 18px);

  }

}

#session-speaker-names,
#speaker-session-names {

  @include list-reset();

  margin-bottom: $unit-default;

  li {

    padding-left: rem(32);

    // background-image: $image-bullet-dark;
    // background-repeat: no-repeat;
    // background-size: 12px;
    // background-position: $unit-xs $unit-xs;

    font-size: ms(0);
    line-height: ms(2);

  }

}