/*
 * Widgets
 */

.widget {

  position: relative;
  // @include container-padding(1.5);
  // @include responsive-spacing(1.5, 'padding-top', 'positive');
  // @include responsive-spacing(1.5, 'padding-bottom', 'positive');
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;

  padding: $container-unit-small 0;

  @include breakpoint(medium) {

    padding: ($container-unit-medium * 2) 0;

  }

}

.widget-title {

  font-size: ms(1);
  line-height: ms(1);

}


/*
 * Secondary Widgets
 *
 * Full width widgets after the content
 */

#after-header-widgets .widget,
#before-content-widgets .widget,
#secondary .widget {

  // padding-left: 0;
  // padding-right: 0;
  text-align: center;

  > * {

    position: relative;

  }

  &:before {

    position: absolute;
    // z-index: -1;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;

    // background-color: $color-brand-secondary;

    content: "";

  }

}

#content-widgets {

  .widget {

    position: relative;

    &:before {

      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: -1000px;
      right: -1000px;

      background-color: inherit;

      content: "";

    }

  }

}


/*
 * Widget text
 *
 * Default text widget styles
 */

.widget_text {

  background-color: $color-grey-10;

  &:before {

    background-color: $color-grey-10!important;

  }

}