/* =Post
===================================================== */

// Post
//
// Post entry
//
// Markup: post.html
//
// Style guide: 6.post

.post {

  @include clearfix();

  margin-bottom: $unit-default;
  padding-bottom: $unit-default;
  border-bottom: rem(1) solid $color-border-weak;

}

.entry-header {}

.entry-content {

  @include clearfix();

  a {

    color: $color-link;
    box-shadow: inset 0 -1px 0 0 rgba($color-link, .5);

    &:hover,
    &:focus,
    &:active {

      color: $color-link-hover;
      box-shadow: inset 0 -2px 0 0 rgba($color-link-hover, .75);

    }

  }

}

.entry-title {

  font-size: ms(4);
  line-height: ms(1);

  margin-bottom: $unit-default;

  a {

    color: $color-link;
    // box-shadow: inset 0 -1px 0 0 rgba($color-link, .25);

    &:hover,
    &:focus,
    &:active {

      color: $color-link-hover;
      box-shadow: inset 0 -2px 0 0 rgba($color-link-hover, .75);

    }

  }

}

.entry-meta {

  margin-bottom: $unit-s;

  font-family: $font-headline;
  font-size: ms(-1);
  line-height: ms(2);
  text-transform: uppercase;
  color: $color-text-weak;

  a {

    color: $color-text;
    font-weight: $bold;
    box-shadow: inset 0 -1px 0 0 rgba($color-text, .25);

    &:hover,
    &:focus,
    &:active {

      color: $color-link-hover;
      box-shadow: inset 0 -2px 0 0 rgba($color-link-hover, .75);

    }

  }

  .updated {

    display: none;

  }

  .published {

    display: inline;

  }

}

.entry-footer {

  margin-bottom: $unit-default;

  font-family: $font-headline;
  font-size: ms(-1);
  line-height: ms(2);
  text-transform: uppercase;
  color: $color-text-weak;

  > :after {

    content: " | ";

  }

  > :last-child {

    &:after {

      content: "";

    }

  }

  a {

    color: $color-text;
    font-weight: $bold;
    box-shadow: inset 0 -1px 0 0 rgba($color-text, .25);

    &:hover,
    &:focus,
    &:active {

      color: $color-link-hover;
      box-shadow: inset 0 -2px 0 0 rgba($color-link-hover, .75);

    }

  }

}