/* =Main
===================================================== */

// Main
//
// Main section of the site
//
// Markup: main.html
//
// Style guide: 6.main


@mixin container-center {

  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;

}


/*
 * Main
 *
 * Container for primary and secondary content
 * <div id="main"> ... </div>
 */

#main {



}


/*
 * Primary content
 *
 * Container for main content
 * <div id="primary" class="site-content"> ... </div>
 */

#primary {

  @include container-center();

  text-align: left;

  // padding-bottom: $container-unit-small * 1.5;

  // @include breakpoint(small) {

  //   padding-bottom: $container-unit-medium * 1.5;

  // }

  // @include breakpoint(medium) {

  //   padding-bottom: $container-unit-large * 1.5;

  // }

}


/*
 * Content
 *
 * Container for posts and pages
 * <div id="content" role="main"> ... </div>
 */

#content {

  // @include container-padding(1.5);

  // @include responsive-spacing(1.5);

  padding: $container-unit-small;

  @include breakpoint(medium) {

    padding: $container-unit-medium;

  }

}


/*
 * Secondary content
 *
 * Container for secondary content (widgets)
 * <div id="secondary" class="widget-area"> ... </div>
 */

#secondary {

  @include container-center();

  text-align: left;

  margin-top: $container-unit-small;

  @include breakpoint(medium) {

    margin-top: $container-unit-medium * 2;

  }

  // margin-top: $container-unit-small * 1.5;

  // @include breakpoint(small) {

  //   margin-top: $container-unit-medium * 1.5;

  // }

  // @include breakpoint(medium) {

  //   margin-top: $container-unit-large * 1.5;

  // }

}


/*
 * Primary sidebar
 *
 * Container for primary sidebar
 * <div id="primary-sidebar"> ... </div>
 */

#primary-sidebar {

  .widget {

    // @include container-padding(2);

  }

}

/*
 * After header widgets
 *
 * Container for after header widgets
 * <div id="after-header-widgets" class="widget-area front-page"> ... </div>
 */

#after-header-widgets {

  @include container-center();

  text-align: left;

}


/*
 * Before content widgets
 *
 * Container for before content widgets
 * <div id="before-content-widgets" class="widget-area front-page"> ... </div>
 */

#before-content-widgets {

  @include container-center();

  text-align: left;

}

#content-widgets {

  // margin-bottom: $unit-default;

  margin-bottom: $container-unit-small;

  @include breakpoint(medium) {

    margin-bottom: $container-unit-medium * 2;

  }

}