/* =Speakers
===================================================== */

// Speakers
//
// Speakers list
//
// Markup: speakers.html
//
// Style guide: 6.speakers

.wcorg-speakers {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}


.wcorg-speaker {

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;

}

.wcorg-speaker {

  padding: 0;
  border: 1px solid $color-border-weak;
  margin-bottom: $unit-default;

  border-radius: $border-radius-small;

  @include breakpoint(to-small) {

    width: 48%;
    margin-left: 4%;

    &:nth-child(2n+1) {

      margin-left: 0;

    }

  }

  @include breakpoint(small) {

    width: 32%;
    margin-left: 2%;

    &:nth-child(3n+1) {

      margin-left: 0;

    }

  }

  .wcorg-speaker-description {}

  h2 {

    position: relative;
    margin: 0;
    padding: $unit-s;
    margin-top:rem(8);

    font-size: ms(0);
    line-height: ms(1);

    a {

      &:hover,
      &:focus,
      &:active {

      }

    }

    &:before {

      position: absolute;
      bottom: 100%;
      left: 0;

      background: $image-stripe-horizontal no-repeat right top;

      min-width: rem(48);
      width: 30%;
      height: rem(24);

      content: "";
      @include transition-fast();

    }

    &:hover {

      &:before {

        width: 40%;

      }

    }

  }

  .wcorg-speaker-description p {

    @include visually-hidden();

  }

  .avatar {

    float: left;
    width: 100%;
    height: auto;
    margin: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

  }


  p {

    margin-bottom: $unit-xs;
    font-size: ms(0, 16px);

    &:last-child {

      margin-bottom: 0;

    }

  }

  h3 {

    text-transform: none;

  }

  ul {}
  li {}

}