/* =Speakers
===================================================== */

// Speakers
//
// Speakers list
//
// Markup: speakers.html
//
// Style guide: 6.speakers

.wcorg-speakers { 

}

.wcorg-speaker:nth-child(3n) {
    margin-right: 0px;
}

.wcorg-speaker {
    display: flex;
    flex-direction: column-reverse; 
}


.wcorg-speaker {
  padding: 0;
  border: 1px solid $color-border-weak;
  width: 31%;
  float: left;
  border-radius: 3px;
  margin-right: 3.5%;
  margin-bottom: 32px;


.wcorg-speaker-description {
 @include clearfix();
}

h2 {
  margin: 0;
  padding: 0;
}

h2 a {
  color:#000000;
  font-size: ms(0, 17px);
  margin: 0 0 0 16px;
}
    
h2 a:hover {
  text-decoration: underline;
}
    
 h2:before{
  content: "";
  background:url('https://2018.europe.wordcamp.org/files/2018/03/wceu-stripes-horizontal.png') no-repeat right top;
  width: 33%;
  height: 24px;
  display:block;
  margin-top: -17px;
  position: relative;
  z-index: 999;
}


.wcorg-speaker-description p{
    display: none;
}


.avatar {
  float: left;
  width: 100%;
  height: auto; 
  margin: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
    

p {
  margin-bottom: $unit-xs;
  font-size: ms(0, 16px);
  &:last-child {
  margin-bottom: 0;
  }
    
} /* wcorg-speaker close */

  h3 {

    text-transform: none;

  }

  ul {}
  li {}

}

/*
 * Speaker page
 */

.single-wcb_speaker {

  .entry-content {

    font-size: ms(0, 18px);

  }

}

#session-speaker-names,
#speaker-session-names {

  @include list-reset();

  margin-bottom: $unit-default;

  li {

    padding-left: rem(32);

    // background-image: $image-bullet-dark;
    // background-repeat: no-repeat;
    // background-size: 12px;
    // background-position: $unit-xs $unit-xs;

    font-size: ms(0);
    line-height: ms(2);

  }

}