/*
 * Highlight
 *
 * Highlight a block of text
 */

// Highlight
//
// Outlined block of content
//
// Markup:
// <div class="highlight">
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium maiores nobis voluptatibus commodi, aspernatur animi optio dicta ullam hic, nisi, assumenda facere tenetur explicabo architecto repellendus, minima. Aut, eligendi.</p>
// </div>
//
// Style guide: 6.helpers.highlight

.highlight {

  padding: $unit-m;
  margin-bottom: $unit-default;

  background-color: $color-grey-10;
  border-radius: $border-radius-small;

  p:last-child {

    margin-bottom: 0;

  }

}

// Note
//
// Outlined block of content that serves as an advice
//
// Markup:
// <div class="note">
//   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium maiores nobis voluptatibus commodi, aspernatur animi optio dicta ullam hic, nisi, assumenda facere tenetur explicabo architecto repellendus, minima. Aut, eligendi.</p>
// </div>
//
// Style guide: 6.helpers.note

.note {

  padding: $unit-m;
  margin-bottom: $unit-default;

  background-color: $color-brand-tertiary;
  border-radius: $border-radius-small;

  p:last-child {

    margin-bottom: 0;

  }

}

// Heading
//
// Link inside a heading that anchors the user to top of the page
//
// Markup:
// <h2 class="heading-top" id="main">Heading <a href="#main">Return to top</a></h2>
//
// Style guide: 6.headings.return-top

.heading-top {

  position: relative;

  display: flex;
  align-items: center;

  // padding-right: rem(64);

  a {

    display: block;
    margin-left: auto;

    @include font-size(16);
    line-height: em(24,16);
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: $font-body;

    &:after {

      position: relative;
      top: 0 - rem(1);

      display: inline-block;
      margin-left: $unit-xs;

      content: "\2191";

    }

    @include breakpoint(large) {

      position: absolute;
      top: 0;
      right: 0;

      padding-left: $unit-m;

    }

  }

}