/* =Header
===================================================== */

// Header
//
// Header of the site (includes site branding and navigation)
//
// Markup: header.html
//
// Style guide: 6.header

.site-header {

  position: relative;

  // background: $site-hero-background $site-hero-path-pattern repeat 50% 50%;
  // background-size: 300px 300px;
  // background-attachment: fixed;

  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-image: $site-hero-path-small;

  @include breakpoint(medium) {

    background-image: $site-hero-path-large;
    background-position: 50% 100%;
    background-size: cover;

  }

  @include transition-fast();

  &:before {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba($site-hero-background, $site-hero-overlay);
    // background-color: $color-brand-primary;

    content: "";

  }

  > * {

    position: relative;
    z-index: $z-index-header;

  }

}