/* =Speaker
===================================================== */

// Speaker
//
// Speakers detail
//
// Markup: speaker.html
//
// Style guide: 6.speaker

.wcb_speaker {

  .entry-title {

    margin-bottom: $unit-xs;

  }

  .entry-content {

    @include breakpoint(small) {

      padding-left: rem(120);

    }

  }

  .speaker-avatar {

    float: left;
    width: rem(100);
    margin: rem(8) rem(16) rem(8) 0;

    img {

      margin: 0;

    }

    @include breakpoint(small) {

      margin-right: 0;
      margin-left: 0 - rem(120);

      box-shadow: -8px 10px 0px 0px rgba(244,223,39,1);

    }

  }

  .speaker-sessions {

    margin-top: $unit-m;

    font-size: ms(0);
    letter-spacing: .05em;
    text-transform: uppercase;

  }

  #speaker-session-names {

    @include list-reset();

  }

  .entry-footer {

    padding-top: rem(64);
    margin-top: $unit-m;

    background: $image-divider no-repeat 50% 50%;

  }

}