/* =Headings
===================================================== */

// Headings
//
// Heading examples
//
// Markup:
// <h1>Nikola Tesla — Heading 1</h1>
// <h2>War of Currents — Heading 2</h2>
// <h3>X-ray experimentation — Heading 3</h3>
// <h4>AC and the induction motor — Heading 4</h4>
//
// Style guide: 4.headings

h1,
h2,
h3,
h4 {

  margin-top: $unit-xl;
  margin-bottom: $unit-xs;

  font-family: $font-headline;
  font-weight: $bold;
  line-height: ms(1);

  &:first-child {

    margin-top: 0;

  }

}

h1 {

  font-size: ms(4);
  color: $color-text-strong;
  letter-spacing: -.05em;

}

h2 {

  font-size: ms(3);
  color: $color-text-strong;
  letter-spacing: -.05em;

}

h3 {

  font-size: ms(2);
  color: $color-text;

  text-transform: uppercase;
  letter-spacing: .05em;

}

h4 {

  font-size: ms(1);
  color: $color-text;

  text-transform: uppercase;
  letter-spacing: .05em;


}