/* =Settings: Other
===================================================== */

/* Z-index */
$z-index-header:                  200;
$z-index-branding:                290;
$z-index-navigation:              300;
$z-index-navigation-submenu:      310;
$z-index-main:                    100;
$z-index-footer:                  100;
$z-index-modal:                   500;
$z-index-skip-links:              600;

/* Units */
$unit-xs:                       rem(8);
$unit-s:                        rem(16);
$unit-m:                        rem(24);
$unit-l:                        rem(32);
$unit-xl:                       rem(48);
$unit-xxl:                      rem(64);

$unit-default:                  rem(24);

/* Container padding */
$container-unit-small:          $unit-s;
$container-unit-medium:         $unit-l;
$container-unit-large:          $unit-xl;

/* Container max width */
$container-max-width:           rem(800);

/* Border radius */
$border-radius-small:           rem(3);
$border-radius-normal:          rem(6);
$border-radius-large:           rem(10);

/* Box shadow */
$box-shadow-small:              0 rem(1) rem(3) 0 rgba(0,0,0,.2);
$box-shadow-medium:             0 rem(1) rem(6) 0 rgba(0,0,0,.2);
$box-shadow-large:              0 rem(1) rem(24) 0 rgba(0,0,0,.2);

/* Box shadow links */
// $box-shadow-link:              inset 0 -1px 0 0 rgba($color-link, .25);
// $box-shadow-link-hover:        inset 0 -2px 0 0 rgba($color-link, .75);

/* Logo size */
$site-logo-width:               360px; // Width of the image/element
$site-logo-height:              360px; // Height of the image/element
$site-logo-proportion:          .5; // Change the logo proportion in header e.g. .5 will reduce the logo size by half.
$site-logo-path:                url('https://2018.europe.wordcamp.org/files/2017/10/wceu-18-logo.png'); // Logo image
// $site-logo-path:                url('https://2017.europe.wordcamp.org/files/2016/11/logo-wceu17-dark-icon.png'); // Logo image

/* Hero */
$site-hero-path-pattern:        url('https://2018.europe.wordcamp.org/files/2017/10/pattern-01.png'); // Background patterns
$site-hero-path-small:          url('https://2018.europe.wordcamp.org/files/2017/11/header-wceu18-hero-mobile.jpg'); // Background image
$site-hero-path-large:          url('https://2018.europe.wordcamp.org/files/2017/11/header-wceu18-hero-desktop.jpg'); // Background image
$site-hero-path-wide:           url('https://2018.europe.wordcamp.org/files/2017/11/header-wceu18-hero-desktop-wide.jpg'); // Background image
$site-hero-path-wide-temp:      url('https://2018.europe.wordcamp.org/files/2018/03/wceu-header-wide.jpg'); // Background image
$site-hero-background:          $color-brand-quaternary; // Hero color background
$site-hero-overlay:             0; // Image overlay color opacity


/* Media queries */
$extra-small-value:             24em; // 384px
$small-value:                   37.5em; // 600px
$medium-value:                  48em; // 768px
$large-value:                   62em; // 992px
$extra-large-value:             80em; // 1280px

/* Background images */
$image-pattern-01:              url('https://2017.europe.wordcamp.org/files/2017/01/background-pattern-01.png');
$image-realistic-ticket:        url('https://2018.europe.wordcamp.org/files/2017/11/futuristic-ticket.png');
$image-divider:                 url('https://2018.europe.wordcamp.org/files/2017/12/divider.png');
$image-stripe-horizontal:       url('https://2018.europe.wordcamp.org/files/2018/03/wceu-stripes-horizontal.png');
$image-stripe-vertical:         url('https://2018.europe.wordcamp.org/files/2018/03/wceu-stripes-vertical.png');
// $image-bullet-color:            url('https://2017.europe.wordcamp.org/files/2017/01/decoration-bullet-color.png');
// $image-bullet-dark:             url('https://2017.europe.wordcamp.org/files/2017/01/decoration-bullet-dark.png');